* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    border-radius: 0.5rem;
    margin: 4px;
    padding: 8px;
    background-color: rgba(0,0,0,0.3);
}
#header > h2 {
    margin-bottom: 0.5rem;
}

fieldset {
    border: none;
}
input[type="text"] {
    background-color: rgba(255,255,255,0.15);
    color: white;
    border: none;
    text-align: right;
    padding: 1px 4px;
    margin: 0px 4px;
}
input[type="range"] {
    width: 200px;
}
label {
    padding: 1px 1px;
}
select {
    background-color: rgba(255,255,255,0.15);
    color: white;
    border: none;
}
button {
    background-color: rgba(255,255,255,0.15);
    color: white;
    border: none;
    padding: 4px;
}

#canvas-container {
    display: flex;
}
canvas {
    margin-left: auto;
    margin-right: auto;
}